<style>
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Lato:wght@400;700;900&family=Libre+Baskerville:wght@700&family=Lobster+Two:wght@700&family=Poppins:ital@1&family=Roboto:ital@1&display=swap');
</style> 


body {
    margin: 0;
    padding: 0; 
}

/*******************
*******Header*******
********************/

.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 70px;
    color: #3A3A3A;
}



.logo h2 {
    text-transform: capitalize;
    font-size: 30px;
    font-family: 'Lato', sans-serif; 
}


.manu ul {
    display: flex;
    font-family: 'Lato', sans-serif; 
}
ul li {
    list-style: none;
    transition: .2 linear;
    margin-left: 2px; 
}
ul li a {
    text-decoration: none;
    padding: 5px 15px;
    color: #3A3A3A;  
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 400; 
    transition: .3s linear;
}
ul li:hover a {
    background: #E02C6D;
    border-radius: 20px;
    color: #FFFFFF;
}


.section-start { 
    display: grid;
    padding: 0 70px;
    grid-template-columns: 1fr 1fr;
    justify-content: center;  
    color: #3A3A3A;
    margin: 70px 0;
}


.text-section h1 {
    font-size: 40px; 
    font-weight: 900;
    font-family: 'Lato', sans-serif; 
}


.text {
    color: #E02C6D;
}



 .photo {
     text-align: center; 
     margin-left: 150px;
 }
 
.photo img {
    width: 220px;
    height: 220px;
     background: #dff9fb; 
     border: 2px solid #DAD5E2;
     overflow: hidden;
     border-radius: 50%;
     padding: 30px;
     transition: transform .5s linear;
}
.photo img:hover {
     transform: rotate(360deg) scale(1.1); 
 }

.button-link {
    background: #E02C6D;
    color: #FFFFFF;
    padding: 8px 25px;
    border-radius: 50px;
    transition: .3s linear;
}
.button-link:hover { 
    background: #f198b9; 
    color: #000000;
}


/*******************
********Main********
********************/
 

.items { 
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 50px;
    margin-top: 40px;
    padding: 30px 70px; 
}

.item {  
    padding: 20px; 
    box-shadow: 0 10px 20px #d4d3d3;
    border-radius: 10px;   
}
 
.heading2 {
    font-size: 20px; 
    font-family: 'Lato', sans-serif; 
}
.stars {
    color: #FB8200;
    font-size: 10px;
}

.rating {
    margin-left: 10px;
    font-size: 12px;
    color: #727272;
}

.price {
    font-size: 20px; 
}
.title {
    margin: 0;
    text-align: center;
    text-transform: capitalize;
    font-size: 30px;
    font-family: 'Lato', sans-serif;  
}
.span-title {
    color: #E02C6D;
}
hr {
    border: 2px solid#E02C6D; 
    width: 250px;
    margin-top: 20px;
    border-radius: 5px;
}
.wordwide {
    color: #727272;
    margin: 0; 
}

.item img {
    width: 100%;
    height: 180px; 
    box-shadow: 0 0 10px #727272;
    transition: .3s linear;  
}
.item img:hover {
    transform: scale(1.1); 
}
.more { 
    text-align: right;
    margin-top: 40px;
    margin-right: 75px;
}
.more a {
    color:#E02C6D;
    text-decoration: none;
}


/*******************
*******Camera*******
********************/

.camera-section { 
    margin: 70px 0; 
}
h3 {
    font-size: 20px;
    color: #FFFFFF;
}
 
.cameras {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 30px 70px;
    grid-column-gap: 50px;
    margin-top: 40px;
}
.camera {
     position: relative;  
     box-shadow: 10px 10px 30px #353b48;  
}
.camera::before {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    background: rgba(0, 0, 0, 0.7); 
    transition: .3s linear;
}
.camera:hover::before {
    opacity: 1;
}
.camera:hover .camera-datail {
    display: block;
}
.camera img {
    width: 100%; 
    height: 250px;
}

.camera-datail {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    display: none;
    font-family: 'Lato', sans-serif; 
}
.camera-datail p {
    width: 100%;
    color: #FFFFFF;
}

/*******************
*******Footer*******
********************/

footer {
    background: #0B0827;
    padding: 40px 0 50px; 
    font-family: 'Lobster Two', cursive;        
}


.footer-section {
    text-align: center;
    color: #FFFFFF;
} 
#reserved {
    color: #83ACEC;
    margin-top: 0; 
}

.midea-icon {
    margin-top: 25px;
}
.midea-icon a { 
    font-size: 18px;
    color: #FFFFFF;
    background: #c3b2b217;
    padding: 10px;
    border-radius: 50%;
    margin-left: 5px; 
}
.midea-icon a i {
    transition: .2s linear;
}
.midea-icon a:hover i {
    transform: scale(1.2);
    color: #E02C6D;
}







/**************************
*****Media Query 768px*****
***************************/

@media all and (max-width: 768px) {

    /********** Header **********/  
    .section-header {
        padding: 0 30px;
    }
    
    .logo h2 { 
        font-size: 25px;
    } 
    ul li a { 
        padding: 3px 9px;   
        font-size: 14px;
        font-weight: 400;  
    }
    .photo img {
        width: 180px;
        height: 180px;  
    }
    .photo {
        margin: 0;
        text-align: center;
    }

    .section-start {
        padding: 0 20px; 
        align-items: center;
    }

    /********** Main **********/
    .items {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 0 30px;
    }
    .more {
        text-align: left;
        margin-left: 30px;
    }
    /********** Camera **********/
    .cameras {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 0 30px;
        grid-gap: 50px; 
    }
}


/**************************
*****Media Query 620px*****
***************************/
 

@media all and (max-width: 620px) {

    /********** Header **********/  
    .manu ul {
        display: grid;
        align-items: center;
    }
    ul li {
        margin-top: 10px;
    }

    .section-start { 
        display: grid;
        grid-template-columns:  1fr; 
    }
    .text-section {
        text-align: center;
        margin-bottom: 70px;
    }
    .photo {
        margin: 0;
        text-align: center;
    }



     /********** Main **********/

    .items {
        display: grid;
        grid-template-columns: 1fr;
        padding: 0 50px;
    }
    .item img {
        width: 100%;
        height: auto; 
    }
    .more {
        text-align: left;
        margin-left: 80px;
    }


    /********** Camera **********/

    .cameras {
        display: grid;
        grid-template-columns: 1fr;
        padding: 0 50px; 
    }

    .camera img {
        width: 100%;
        height: auto;
    } 
}


